#discount 
    margin-top: 65px

    .discountLayout
        display: flex
        align-items: center
        justify-content: center

    .offer
        width: 40%
        margin: 0 auto

    .offer .button
        background: $redd
        color: white
        padding: 20px 80px
        font-size: 18px
        -webkit-transition: background-color 2s ease-out
        -moz-transition: background-color 2s ease-out
        -o-transition: background-color 2s ease-out
        transition: background-color 2s ease-out

        &:hover
            background-color: $greenn
            cursor: pointer
    

    h2
        margin-bottom: 15px