#download
    color: white
    text-align: center
    background: url("../img/runner.jpg") no-repeat
    background-size: cover
    padding: 100px 0
    margin-top: -70px
    @media only screen and (max-width: 680px)
        background-position: center
        margin-top: 75px
        padding: 60px


    h2 
        color: white
        font-size: 68px
        margin: 0
        text-transform: uppercase
        font-weight: 900
        @media only screen and (max-width: 680px)
            font-size: 44px

    p 
        width: 100%
        max-width: 450px
        margin: 20px auto
        font-weight: 900

    .button
        position: relative
        width: 200px
        margin: 0 15px
        @media only screen and (max-width: 680px)
            margin: 10px 15px

        &:hover
            color: $redd

    .apple:before, .google:before
        position: absolute
        display: block
        
    .apple:before
        left: 28px
        top: 7.5px
        font-size: 26px
        content: url("../img/apple.png")

    .google:before
        left: 25px
        top: 14px
        content: url("../img/google.png")
        

